<p style="text-align: center;"><span style="text-decoration: underline; background-color: #ffffff;"><em>Чтобы создать статическую страницу&nbsp;нужно:</em></span></p>
<ol>
    <ol>
        <li><strong>Установить приложение (плагин) из встроенного пакета&nbsp;<em>Django</em>&nbsp;(добавить все необходимые конфиги в настройки и&nbsp;<em>URL</em>).</strong></li>
        <li>Создать админа.</li>
        <li>Через админ-панель создать статические&nbsp;<em>HTML-</em>странички.</li>
        <li>При желании можно завернуть эти странички в определённый шаблон, но если его не указывать, то по умолчанию контент и название должны находится в шаблоне&nbsp;<em>flatpages/default.html&nbsp;</em>(убедитесь, что вы создали его, иначе на статическую
            страницу, которую вы создали, вы можете не попасть из-за ошибки).&nbsp;</li>
    </ol>
</ol>